{% extends 'layouts/base.html' %}
{% load static %}



{% block content %}
    <h1 style="text-align: center; color: darkmagenta"> All students </h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Grade</th>
            <th> Student Image </th>
            <th>Show</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.grade}}</td>
                <td> {{student.image }}</td>

                <td> <img width="100" height="100" src="{% static 'students/images/'|add:student.image  %}">  </td>
                <td> <a href="{% url 'students.profile' student.id %}" class="btn btn-info"> Show </a></td>
            </tr>
        {%endfor%}
        </tbody>

    </table>

{% endblock %}