{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <h1 style="text-align: center; color: rebeccapurple"> Posts using list view  </h1>

<div>
    <a href="{% url 'posts.forms.create' %}" class="btn btn-dark"> Add post via generic </a>
    {% for post in posts %}

        <div class="card" style="width: 18rem; display: inline-block; margin:auto;" >
      <img src="{{post.image_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
          <a href="{{post.show_url}}" class="btn btn-primary">Show</a>
          <a href="{{post.edit_url}}" class="btn btn-warning">Edit</a>

          <a href="{{post.delete_url}}" class="btn btn-danger">Delete</a>
      </div>
    </div>

    {% endfor %}
</div>
{% endblock  %}